<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <title>Customer Support</title>
</head>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">ChatGpt Customer Support</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<br><br><br>



<h2>The Model is Loading, Since Running model always is expensive :(</h2>
    <h3>It Usually takes less than minute please reload the page to check status :)</h3>

<script>
    document.getElementById("sqlt").setAttribute("placeholder", "{{query}}");
</script>








</body>
</html>
